@page "/Payment"

@using HomeRentManagement.Data;
@inject RentalService rentservice;
@inject UserService userservice;
@inject IJSRuntime js
@inject UserIdDecrypt useriddecrypt



<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h3>Rental Details</h3>
        <button class="btn btn-primary" @onclick="showModel">Add Rent</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                
                    <th>Unit Name</th>
                    <th>Electricity Billl</th>
                    <th>Gas Bill</th>
                    <th>Service Charge</th>
                    <th>Rent</th>
                    <th>Rent Date</th>

                    <th>Action</th>


                </tr>
            </thead>
            <tbody>
                @if (rent != null && rent.Any())
                {
                    @foreach (var re in rent)
                    {
                        <tr>
                            <td>@re.Unit.unitName</td>

                            <td>@re.ElectricityBill</td>
                            <td>@re.GasBill</td>
                            <td>@re.ServiceCharge</td>
                            <td>@re.Rent</td>
                            <td>@re.RentDate</td>
                          
                            <td>
                                @if (re.StatusId == 3)
                                {

                                    <button disabled class="btn btn-danger btn-sm mr-3">Delete</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger btn-sm mr-3" @onclick="() =>DeleteRent(re.RentID)">Delete</button>

                                }
                                <button class="btn btn-primary btn-sm m-2" @onclick="()=>UpdatedRent()">Edit</button>
                            </td>


                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No members found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal px-5" tabindex="-1" style="@ModalStyle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Bill</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="HideModal"></button>
            </div>
            <div class="modal-body">
                <form @onsubmit="SaveRent">
                    <div class="form-group">
                        <label for="Tenant">Tenant:</label>
                        <select class="form-control" @bind="newRent" required>
                            @foreach (var unit in unitOptions)
                            {
                                <option value="@unit.UnitID">@unit.unitName</option>
                            }
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="ElectricityBill"> ElectricityBill:</label>
                        <input type="number" class="form-control" @bind="rental.ElectricityBill" required />
                    </div>
                    <div class="form-group">
                        <label for="GasBill">Gas Bill:</label>
                        <input type="number" class="form-control" @bind="rental.GasBill" required />
                    </div>
                    <div class="form-group">
                        <label for="ServiceCharge">Service Charge:</label>
                        <input type="number" class="form-control" @bind="rental.ServiceCharge" />
                    </div>
                    <div class="form-group">
                        <label for="House Rent">House Rent:</label>
                        <input type="number" class="form-control" @bind="rental.Rent" />
                    </div>
                    <div class="form-group">
                        <label for="House Rent">House Rent:</label>
                        <input type="date" class="form-control" @bind="rental.RentDate" />
                    </div>



                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (updateRent != null)
{
    <div class="modal px-5" tabindex="-1" style="@EditModalStyle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Bill</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="hideUpdate"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="UpdatedRent">
                        <div class="form-group">
                            <label for="Tenant">Tenant:</label>
                            <select class="form-control" @bind="updateRent.UnitID" required>
                                @foreach (var unit in unitOptions)
                                {
                                    <option value="@unit.UnitID">@unit.unitName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ElectricityBill">Electricity Bill:</label>
                            <input type="number" class="form-control" @bind="updateRent.ElectricityBill" required />
                        </div>
                        <div class="form-group">
                            <label for="GasBill">Gas Bill:</label>
                            <input type="number" class="form-control" @bind="updateRent.GasBill" required />
                        </div>
                        <div class="form-group">
                            <label for="ServiceCharge">Service Charge:</label>
                            <input type="number" class="form-control" @bind="updateRent.ServiceCharge" />
                        </div>
                        <div class="form-group">
                            <label for="Rent">House Rent:</label>
                            <input type="number" class="form-control" @bind="updateRent.Rent" />
                        </div>
                        <div class="form-group">
                            <label for="Rent Date">Rent Date:</label>
                            <input type="date" class="form-control" @bind="updateRent.RentDate" />
                        </div>
                        <div class="form-group">
                            <label for="Status">Status:</label>
                            <select class="form-control" @bind="updateRent.StatusId" required>
                                @foreach (var status in statusOptions)
                                {
                                    <option value="@status.Id">@status.Name</option>
                                }
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal" tabindex="-1" style="@DeleteModalStyle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="hideDelete"></button>
            </div>
            <div class="modal-body">
                <!-- Modal Content Goes Here -->
                Are you sure you want to proceed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="hideDelete">Cancel</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteConfirmed">Yes, Proceed</button>
            </div>
        </div>
    </div>
</div>







@code {
    public List<Rental> rent = new List<Rental>();
    int newRent;
    bool showModal = false;
    bool DeleteModel = false;
    bool EditModal = false;
    private int roleToDelete;
    private List<Unit> unitOptions = new List<Unit>();
    private List<Status> statusOptions = new List<Status>();


    public string userId;
    protected override async Task OnInitializedAsync()
    {
        userId = await useriddecrypt.GetDecryptedUserId();
        rent = await rentservice.GetAllRent(Int32.Parse(userId));
        unitOptions = await rentservice.GetRentOptionsAsync(Int32.Parse(userId));


    }

    public Rental rental = new Rental();
    private Rental updateRent = new Rental();
    public async void SaveRent()
    {

        showModal = false;


        if (newRent == 0)
        {
            newRent = unitOptions[0].UnitID;
        }
        await rentservice.AddRental(rental, newRent);

        rent = new List<Rental>();
        rent = await rentservice.GetAllRent(Int32.Parse(userId));


        rental = new Rental();

        StateHasChanged();
    }
    async Task showModel()
    {
        statusOptions = await userservice.GetStatusOptionsAsync();

        showModal = true;
    }
    void HideModal()
    {
        showModal = false;
        rental = new Rental();


    }
    void hideDelete()
    {
        DeleteModel = false;
    }

    void hideUpdate()
    {
        EditModal = false;
        rental = new Rental();


    }
    int newUnitId;
    async Task UpdateRent(int rentId,int unitId)
    {
        // Call the service method with the parsed memberId
        var billMember = await rentservice.GetRentById(rentId);
        newUnitId = unitId;
        EditModal = true;
        if (billMember != null)
        {
            updateRent = new Rental()
                {
                    RentID = billMember.RentID,
                    ElectricityBill = billMember.ElectricityBill,
                    GasBill = billMember.GasBill,
                    Rent = billMember.Rent,

                    ServiceCharge = billMember.ServiceCharge,
                    StatusId = billMember.StatusId,

                };
            statusOptions = await userservice.GetStatusOptionsAsync();
            unitOptions = await rentservice.GetRentOptionsAsync(Int32.Parse(userId));


            // Additional code to update the user, e.g., save to the database, if necessary
        }
        else
        {
            // Handle the case where the member with the given ID is not found
            // For example, you can log the error, redirect the user to an error page, or display a message
            // This depends on your application's requirements
        }
    }





    protected async Task DeleteRent(int roleId)
    {
        roleToDelete = roleId;
        DeleteModel = true;
    }

    private async Task DeleteConfirmed()
    {
        await rentservice.deleteAsync(roleToDelete);
        rent = await rentservice.GetAllRent(Int32.Parse(userId));





        // Reset variables
        roleToDelete = 0;
        DeleteModel = false;
    }

    private async Task UpdatedRent()
    {
        EditModal = false;


        await rentservice.updatedateRent(updateRent);
    }
    string ModalStyle => showModal ? "display: block;" : "display: none;";
    string DeleteModalStyle => DeleteModel ? "display: block;" : "display: none;";
    string EditModalStyle => EditModal ? "display: block;" : "display: none;";

}
